<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- ConnectionString added by MongoDB.Dynamic package -->
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost/DAL?safe=true" />
  <add name="LYConnectionStrings" connectionString="data source=127.0.0.1;initial catalog=LYProject;user id=sa;password=a111111!;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

