
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterView.cshtml";
}

<body class="hold-transition skin-blue sidebar-mini">

    <div data-module="default" class="content-box activeModule">
        <section class="content-header">
            <h1>常用功能</h1>
        </section>
        <section class="content">
            <div class="row content-first">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h4>系统通知</h4>
                            <p>53次</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green" data-module="内容总数">
                        <div class="inner">
                            <h4>内容总数</h4>
                            <p>53篇</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow" data-module="承接项目数">
                        <div class="inner">
                            <h4>承接项目数</h4>
                            <p>41次</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red" data-module="企业产品数">
                        <div class="inner">
                            <h4>企业产品数</h4>
                            <p>50种</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-square-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content-second">
                <section class="col-lg-6 connectedSortable papel-news">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-commenting-o"></i>
                            <h3 class="box-title">xxxxxxx通知</h3>
                            <div class="box-tools pull-right">
                                <ul class="pagination pagination-md inline">
                                    <li>
                                        <a class="newsBtnClick" data-read="no">更多</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul class="todo-list">
                                <li class="none">
                                    <span class="text">没有未读通知了</span>
                                    <span class="tools more">刷新看看</span>
                                </li>
                                <table CssClass="table table-striped">
                                    <tr><td>1ddddddddddddddd</td></tr>
                                    <tr><td>1ddddddddddddddd</td></tr>
                                    <tr><td>1ddddddddddddddd</td></tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 connectedSortable papel-news">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-commenting-o"></i>
                            <h3 class="box-title">资料共享</h3>
                            <div class="box-tools pull-right">
                                <ul class="pagination pagination-md inline">
                                    <li>
                                        <a class="newsBtnClick" data-read="no" href="../BBS/bbs_share_public.aspx">更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul class="todo-list">
                                <table CssClass="table table-striped">
                                <tr><td><a>1ddddddddddddddd</a></td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                </section>

            </div>
            <div class="row content-third">
                <section class="col-lg-6 connectedSortable papel-news">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-commenting-o"></i>
                            <h3 class="box-title">XXXXXX</h3>
                            <div class="box-tools pull-right">
                                <ul class="pagination pagination-md inline">
                                    <li>
                                        <a class="newsBtnClick" data-read="no" href="../BBS/bbs_more.aspx">更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul class="todo-list">
                                <table CssClass="table table-striped">
                                    <tr><td>1ddddddddddddddd</td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 connectedSortable papel-news">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-commenting-o"></i>
                            <h3 class="box-title">在线答疑</h3>
                            <div class="box-tools pull-right">
                                <ul class="pagination pagination-md inline">
                                    <li>
                                        <a class="newsBtnClick" data-read="no" href="Interflowonline/interflowonline_more.aspx">更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul class="todo-list">
                                <table CssClass="table table-striped">
                                <tr><td>1ddddddddddddddd</td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                <tr><td>1ddddddddddddddd</td></tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </div>
</body>

